{% if categories %}
  <div id="overlay"></div>
  <div class="header-menu">
    <div class="main-mobile-menu">
      <div class="burger-menu">
        <div class="burger">
          <span></span>
        </div>
      </div>
      <nav class="mobile-menu">
        <ul>
          {% for category in categories %}
          {% if category.children %}
          <li class="main-mobile-category">
            <a href="{{ category.href }}">{{ category.name }}</a>
            <i class="fas fa-chevron-down"></i>
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
            <ul class="mobile-dropdown">
              {% for child in children %}
              <li><a href="{{ child.href }}">{{ child.name }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <ul class="main-desktop-menu">
      {% for category in categories %}
        {% set displayOncePopularProducts = true %}
      {% if category.children %}
      <li class="main-desktop-category">
        <a class="menu-desktop-effects" href="{{ category.href }}">{{ category.name }}</a>
        <div class="subcategory-desktop">
          {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
          <ul class="subcategory-desktop-dropdown">
            {% for child in children %}
            <li><a href="{{ child.href }}">{{ child.name }}</a><i class="fas fa-chevron-right"></i></li>
            {% endfor %}
          </ul>
          {% endfor %}
          <div class="subcategory-desktop-descriptions">
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              {% for child in children %}
            <div class="subcategory-desktop-description">
              {{ child.menu_subcategory_description }}
            </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% if (displayOncePopularProducts == true) or (displayOncePopularProducts == category.index) %}

          <div class="menu-most-popular-products">
            <h3>Популярное</h3>
            <div class="items-most-popular">
              <div class="item-most-popular">

                <a href="#"><img src="{{ category.image_popular }}" alt="hear"></a>
                <h4>{{ category.name_popular }}</h4>
                <p>{{ category.description_popular }}</p>
                <div class="order-most-popular">
                  <a href="#">Заказать<i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>

              </div>

            </div>
          </div>
          {% set displayOncePopularProducts = category.index %}
        {% endif %}
        </div>
      </li>
      {% else %}
      <li class="main-desktop-category">
        <a class="menu-desktop-effects" href="{{ category.href }}">{{ category.name }}</a>
      </li>
      {% endif %}
      {% endfor %}

    </ul>
  </div>

<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
















{% endif %} 